<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canciones</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>id</th>
            <th>nombre</th>
            <th>artista</th>
            <th>genero</th>
            <th>año</th>
        </tr>
        <tr th:each="c:${Canciones}">
            <td th:text="${c.id}">t</td>
            <td th:text="${c.nombre}"></td>
            <td th:text="${c.artista}"></td>
            <td th:text="${c.genero}"></td>
            <td th:text="${c.anio}"></td>
        </tr>
    </table>
</div>
</body>
</html>